:root {
  --primary-color: #386da2;
  --secondary-color: #557370;
  --accent1: #948e45;
  --accent2: #a9d3ff;
  --heading-font: 'Noto Sans', sans-serif;
  --body-font: 'Lato, sans-serif';

  --body-font-size: 16px;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
}
body {
  font-size: var(--body-font-size);
  font: var(--body-font)
}
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h1,
h2 {
  padding: 5px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  border: 20px solid rgba(8, 8, 8, 0.1);
  font: var(--heading-font);
}

p {
  padding: 0;
  margin: 20px;
  color: var(--primary-color);
  border: 1px solid rgba(65, 65, 128, 0);
}

.sociallinks a {
  text-decoration: none;
}

header,main,footer {
  max-width: var(--max-width);
  margin: auto;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 10px;
  left: 5%;
  right: 5%;
  background-color: rgba(0, 255, 255, 0.371);
  border: 4px solid rgba(8, 243, 8, 0.304);
  text-align: center;
  font-size: 3rem;
  color: #993636;
}

.hero article {
  position: absolute;
  top: 35%;
  left: 10%;
  right: 10%;
  padding: 10px;
  background-color: rgba(31, 36, 31, 0.5);
  color: #eee;
  border-radius: 10px;
  margin: 1rem;
  border: 0.5px solid rgba(65, 87, 121, 0.1);
}

.hero img {
  display: block;
  width: 100%;
}

.hero article img {
  float: right;
  margin: 0 0 10px 15px;
  border: 1px solid #000;
  padding: 10px;
  background-color: #bbb;
  width: 150px;
  height: auto;
}

.hero article p {
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  color: #eee;
 
}
.sociallinks img {
  width: 60px;
} 
header {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
  background-color: #5ecdd4;
} 
nav {
  display: flex;
  font-family: var(--heading-font);
  text-decoration: none;
  justify-content: space-around;
}
.History {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 2em;
  row-gap: 2em;
  column-gap: 2em;
  margin: 50px 0;
}
.History h2, .Adventure h2 {
  grid-column: 1/-1;
  justify-self: center;
  padding: 1em;
}
p{
  display: grid;
  padding: 20px;
  color: #8b2c2c7a;
}
  
.Adventure {
  margin: 50px 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.1rem;
  justify-items: center;
}
figure {
  background-color: #557370;
  color: var(--accent1);
  align-self: center;
}
figcaption {
  text-align: center;
  padding: 1em 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #143399;
  margin-top: 100px;
}
footer p {
  color: #fff;
}
.sociallinks {
  display: flex;
  gap: 1em;
}
nav a {
  display: flex;
  padding: 0.5rem;
  margin: -0.14rem;
  font-family: var(--heading-font);
  color: #8a3838;
  text-decoration: none;
}