* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans, serif';
    font-size: 1.2em;
    color: #333;
    background-color:#43254e65 ;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color:navy;
    text-align: center;
}
form {
    width:550px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(133, 35, 35, 0.1);
    border-radius: 0.5rem;
    background-color: #c6ccd4;
    display: grid;
}
label, input, button, select, textarea {
    font-family: 'Noto Sans , serif';
}
label {
    text-align: left;
    padding-right: 2rem;
} 
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #17011aa1;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}   
button:hover {
    background-color: rgb(47, 161, 76);
}