:root {
    --background-color:#f06;
    --padding: 0.5px;
    --display: block;
    --heading-color:steelblue;
    --width:350px;
    --height:auto;
}


nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: var(--display);
    padding: var(--padding);
}

h1 {
    color: var(--heading-color);
}

img {
    width: var(--width);
    height: auto;
    border: 1px solid steelblue;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

aside {
    width: var(--width);
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--padding);
    background-color: #eee;
    color: #312525;
    text-align: center;
}

aside img {
    width: var(--width);
    height: var(--height);
}

main img {
    width: var(--width);
    height: var(--height);
}

p {
    padding:var(--padding);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}